<form action="" class="smart-form" novalidate>
  <fieldset>
    <div class="row">
      <div class="col col-3">
        <label class="label"><i class="fa fa-question-circle "></i> EO运单状态</label>
        <label class="select select-multiple">
          <select class="custom-scroll" data-ng-model="eventSearchCriteria.eoSearch.eoStatus" data-ng-options="config.description for config in configData.EOST" multiple></select>
        </label>
      </div>
      <div class="col col-3">
        <label class="label"><i class="fa fa-exclamation-triangle "></i> EO事件状态</label>
        <label class="select select-multiple">
          <select class="custom-scroll" data-ng-model="eventSearchCriteria.eoSearch.eoEventStatus" data-ng-options="config.description for config in configData.EVST" multiple></select>
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventSearchCriteria.eoSearch.eoID" placeholder="EO运单">
        </label>
      </div>
    </div>
  </fieldset>
  <footer>
    <a class="btn btn-primary" data-ng-click="eoSearch(eventSearchCriteria.eoSearch)">
      <i class="fa fa-search"></i>
       查询
    </a>
  </footer>
</form>