<form action="" class="smart-form" novalidate>
  <fieldset>
    <div class="row">
      <section class="col col-3">
        <label class="label"><i class="fa fa-question-circle "></i> 需求项目状态</label>
        <label class="select select-multiple">
          <select class="custom-scroll" data-ng-model="eventSearchCriteria.erSearch.ERStatus" data-ng-options="config.description for config in configData.ERNT" multiple></select>
        </label>
      </section>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventSearchCriteria.erSearch.ERID" placeholder="需求编号">
        </label>
      </div>
      <div class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventSearchCriteria.erSearch.ERITN" placeholder="需求行项目编号">
        </label>
      </div>
    </div>
  </fieldset>
  <footer>
   
      
        <button type="button" ng-click="erSearch(eventSearchCriteria.erSearch)" class="btn btn-primary">
            <i class="fa fa-search"></i>&nbsp;查询
        </button>
        <button type="button" class="btn btn-default" ng-click="resetEr()">
            <i class="fa fa-reply-all "></i>&nbsp;重置
        </button>


  </footer>
</form>