<form action="" class="smart-form" novalidate>
  <fieldset>
    <div class="row">
      <div class="col col-3">
        <label class="label"><i class="fa fa-eye-slash "></i> 事件类型</label>
        <label class="select select-multiple">
          <select multiple="" class="custom-scroll">
            <option value="1">延迟事件</option>
            <option value="2">异常事件</option>
            <option value="3">意外事件</option>
          </select>
        </label>
      </div>
      <div class="col col-3">
        <label class="input"><i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventCode" placeholder="事件代码">
        </label>
      </div>
      <div class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eoNumber" placeholder="EO运单号">
        </label>
      </div>
      <div class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="erNumber" placeholder="ER需求单号">
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <section class="col col-3">
        <label class="input">
          <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventListener1" placeholder="事件受众1">
        </label>
      </section>
      <section class="col col-3">
        <label class="input">
          <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventListener2" placeholder="事件受众2">
        </label>
      </section>
      <section class="col col-3">
        <label class="input">
          <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventListener3" placeholder="事件受众3">
        </label>
      </section>
      <section class="col col-3">
        <label class="input">
          <i class="icon-prepend fa fa-search "></i>
          <input type="text" data-ng-model="eventListener4" placeholder="事件受众4">
        </label>
      </section>
    </div>
  </fieldset>
  <footer>
    <a class="btn btn-primary" ng-click="eventSearch()">
      <i class="fa fa-search"></i>
      查询
    </a>
  </footer>
</form>