<section id="widget-grid" data-it-Jarvis ng-controller="eoAssignCtrl">
    <!--
        
         <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-pink" id="wid-diagram" data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>需求分配状态</h2>
                    <div class="widget-toolbar">

                        <div class="progress progress-striped active" rel="tooltip" data-original-title="78%" data-placement="bottom">
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 78%">78 %</div>
                        </div>

                    </div>
                    <div class="widget-toolbar">
                        <a href="javascript:void" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    </div>

                </header>

                <div>
                    <div class="jarviswidget-editbox">
                        <input type="text">
                    </div>

                    <div class="widget-body no-padding">

                        <div id="non-date-graph" class="chart no-padding"></div>

                    </div>

                </div>

            </div>

        </article>
    </div>

        -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget  jarviswidget-color-pink" id="wid-query" data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-search"></i></span>
                    <h2>查询可分配需求</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input type="text">
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div id="checkout-form" class="smart-form" novalidate="novalidate">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-sitemap"></i>
                                            <input type="text" name="CRP2" ng-model="selectedSite" placeholder="站点代码">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <button class="btn btn-warning btn-sm" ng-click="searchSite()"><i class="fa fa-search "></i>&nbsp;站点搜索</button>
                                        <!--ng-click="popup($event);"-->
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-arrow-circle-up"></i>
                                            <input type="text" name="CRP2" ng-model="selectedCustomer.dep" placeholder="发货方代码">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <button class="btn btn-success btn-sm" ng-click="searchCustomer('dep')"><i class="fa fa-search "></i>&nbsp;发货方搜索</button>
                                    </section>
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-map-marker"></i>
                                            <input type="text" name="CRP2" ng-model="selectedPosition.dep" placeholder="发货方位置">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <button class="btn btn-info btn-sm"><i class="fa fa-search "></i>&nbsp;位置搜索</button>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-arrow-circle-down"></i>
                                            <input type="text" name="CRP2" ng-model="selectedCustomer.rec" placeholder="收货方代码">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <button class="btn btn-success btn-sm" ng-click="searchCustomer('rec')"><i class="fa fa-search "></i>&nbsp;收货方搜索</button>
                                    </section>
                                    <section class="col col-4">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-map-marker"></i>
                                            <input type="text" name="CRP2" ng-model="selectedPosition.rec" placeholder="收货方位置">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <button class="btn btn-info btn-sm"><i class="fa fa-search "></i>&nbsp;位置搜索</button>
                                    </section>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="CRP2" ng-model="user" placeholder="创建用户">
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-calendar"></i>
                                            <input type="text" name="CRP2" id="ercreatedate" placeholder="创建日期">
                                        </label>
                                    </section>

                                </div>
                            </fieldset>
                            <footer>
                                <button type="button" ng-click="quickSearch()" class="btn  btn-default">
                                    <i class="fa fa-search"></i>&nbsp;查询
                                </button>
                                <button type="button" class="btn btn-default" ng-click="reset()" data-dismiss="modal">
                                    <i class="fa fa-reply-all "></i>&nbsp;重置
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="row">
    </div>

    <div class="jarviswidget jarviswidget-color-pink" id="wid-result" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
        <header>
            <span class="widget-icon"><i class="fa fa-table"></i></span>
            <h2>可分配需求</h2>
            <div class="widget-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-xs btn-default " data-toggle="dropdown">
                        操作 <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li ng-class="{disabled:!isAnythingSelected()}">
                            <a href="javascript:void(0)" ng-click="create()"><i class="fa fa-resize-small"></i>&nbsp;合并至运单</a>
                        </li>
                        <li ng-class="{disabled:!isAnythingSelected()}">
                            <a href="javascript:void(0)" ng-click="adjust()"><i class="fa fa-truck"></i>&nbsp;运输方式调整</a>
                        </li>
                        <li ng-class="{disabled:!isAnythingSelected()}">
                            <a href="javascript:void(0)" ng-click="deleteEr()" id="smart-mod-delER"><i class="fa fa-minus-circle "></i>&nbsp;删除项目</a>
                        </li>
                        <li ng-class="{disabled:!isAnythingSelected()}">
                            <a href="javascript:void(0)" ng-click="deleteEritm()" id="smart-mod-delERITN"><i class="fa fa-times-circle "></i>&nbsp;删除需求</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="quickSearch()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div>
            <div class="jarviswidget-editbox">
            </div>
            <div id="tableWidget" class="widget-body no-padding">
                <div class="widget-body-toolbar">
                </div>
                <div data-im-table header-titles="columns" can-select detail-target="views/planning/eoDetail.html" my-source="quickResult" selected-items="selectedItems"></div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $('#startdateEO').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',

    });

    $('#DeldateEO').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',

    });

    $('#ercreatedate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',

    });


    //loadScript("js/plugin/morris/raphael.2.1.0.min.js", loadMorrisEngine);
    //function loadMorrisEngine() {
    //    loadScript("js/plugin/morris/morris.min.js", runMorrisCharts);
    //}
    //function runMorrisCharts() {
    //    if ($('#non-date-graph').length) {
    //        var dayData = [
    //            { "elapsed": "上海通用康桥", "value": 100, "un": 23 },
    //            { "elapsed": "上汽临港", "value": 123, "un": 23 },
    //            { "elapsed": "欧莱雅", "value": 270, "un": 270 },
    //            { "elapsed": "法拉利临港1", "value": 100, "un": 23 },
    //            { "elapsed": "欧莱雅2", "value": 270, "un": 270 },
    //            { "elapsed": "法拉利临港2", "value": 100, "un": 23 },
    //            { "elapsed": "欧莱雅", "value": 270, "un": 270 },
    //            { "elapsed": "法拉利临港3", "value": 100, "un": 23 },
    //            { "elapsed": "法拉利临港4", "value": 100, "un": 23 },
    //            { "elapsed": "欧莱雅4", "value": 20, "un": 12 },
    //            { "elapsed": "法港4", "value": 40, "un": 23 },
    //            { "elapsed": "福建奔驰", "value": 310, "un": 189 }
    //        ];
    //        Morris.Area({
    //            element: 'non-date-graph',
    //            data: dayData,
    //            xkey: 'elapsed',
    //            ykeys: ['value', 'un'],
    //            labels: ['今日需求', '已分配'],
    //            pointSize: 2,
    //            parseTime: false,
    //            hideHover: 'auto'
    //        });
    //    }
    //}
</script>
