<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="100" alt="iTMS">
    </h4>
</div>
<div class="modal-body no-padding">

    <form action="" id="login-form" class="smart-form">

        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input"><i class="icon-prepend fa fa-filter"></i>
                        <input type="text" name="code" placeholder="国家">
                    </label>
                </section>

                <section class="col col-3">
                    <label class="input"><i class="icon-prepend fa fa-filter"></i>
                        <input type="text" name="code" placeholder="省">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input"><i class="icon-prepend fa fa-filter"></i>
                        <input type="text" name="code" placeholder="市">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input"><i class="icon-prepend fa fa-filter"></i>
                        <input type="text" name="code" placeholder="区县">
                    </label>
                </section>


            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="input"><i class="icon-prepend fa fa-filter"></i>
                        <input type="text" name="code" placeholder="站点代码">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input"><i class="icon-prepend fa fa-filter"></i>
                        <input type="text" name="code" placeholder="站点名称">
                    </label>
                </section>
                <section class="col col-12">
                    <button type="button" class="btn btn-sm btn-info"><i class="fa fa-search"></i> 搜索站点
                    </button>
                </section>
            </div>
            <div class="row">
                <article class="col col-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->


                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                    <thead>
                                    <tr>
                                        <th>

                                        <th>站点代码</th>
                                        <th>名称</th>
                                        <th>国家</th>
                                        <th>省</th>
                                        <th>市</th>
                                        <th>区</th>
                                        <th>地址</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>AB00011</td>
                                        <td>站点名称1</td>
                                        <td>中国</td>
                                        <td>江苏</td>
                                        <td>南京</td>
                                        <td>下关</td>
                                        <td>龙华西路222号</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>AB00011</td>
                                        <td>站点名称1</td>
                                        <td>中国</td>
                                        <td>江苏</td>
                                        <td>南京</td>
                                        <td>下关</td>
                                        <td>龙华西路222号</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </td>
                                        <td>AB00011</td>
                                        <td>站点名称1</td>
                                        <td>中国</td>
                                        <td>江苏</td>
                                        <td>南京</td>
                                        <td>下关</td>
                                        <td>龙华西路222号</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
            </div>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-success" data-dismiss="modal">
                插入
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">
                返回
            </button>
        </footer>
    </form>


</div>