<div class="tab-pane fade in" id="erhead">
    <div class="smart-form">
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-search "></i>
                        <input type="text" ng-model="unionParam.ERID[0]" name="Cr" placeholder="ER需求号">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-search "></i>
                        <input type="text" ng-model="unionParam.EOID" name="Cr" placeholder="EO运单号">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" ng-model="unionParam.pickERDate" im-datepicker placeholder="预计出发日期">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" ng-model="unionParam.reqDelDate" im-datepicker placeholder="预计到达日期">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.ERType[0]" name="prov">
                            <option value="" selected="selected" disabled="disabled">需求类型</option>
                            <option ng-repeat="value in eoTypes  track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>

                    </label>


                </section>
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.ERStatus[0]" name="prov">
                            <option value="" selected="selected" disabled="disabled">需求状态</option>
                            <option ng-repeat="value in erst  track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>
                    </label>
                </section>

                <section class="col col-3">
                    <label class="select">
                        <select name="prov">
                            <option value="" selected="selected" disabled="disabled">运输方式</option>
                            <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-heart"></i>
                        <!--  <input ng-model="unionParam.BP1" type="text" name="customer" placeholder="合同方代码">-->
                        <input im-auto-complete update-callback="updateAutoBP1(value)" method="customerAuto" name="customer" placeholder="合同方代码" source="unionParam.BP1">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-heart"></i>
                        <input im-auto-complete update-callback="updateAutoBP2(value)" method="customerAuto" name="customer" placeholder="付款方代码" source="unionParam.BP2">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-heart"></i>
                        <input im-auto-complete update-callback="updateAutoBP3(value)" method="customerAuto" name="customer" placeholder="货主方代码" source="unionParam.BP3">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input type="text" ng-model="unionParam.project" name="customer" placeholder="项目代码">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input type="text" ng-model="unionParam.plannedID" name="customer" placeholder="发运周代码">
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input type="text" ng-model="unionParam.contractID" name="customer" placeholder="合同号">
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input type="text" ng-model="unionParam.customerOrder1" name="dest" placeholder="客户订单号">
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input type="text" name="dest" ng-model="unionParam.customerOrder2" placeholder="供应商订单号">
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input type="text" ng-model="unionParam.customerOrder3" name="dest" placeholder="B/L提单号">
                    </label>
                </section>
            </div>
        </fieldset>
    </div>
</div>
