<div class="tab-pane fade in" id="eritem">
    <form class="smart-form" novalidate>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.ERITNStatus[0]" name="prov">
                            <option value="" selected="selected" disabled="disabled">行项目状态</option>
                            <option ng-repeat="value in ernt  track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.ItemSplitPlan" name="prov">
                            <option value="" selected="selected" disabled="disabled">包装分拆状态</option>
                            <option value="1">草稿</option>
                            <option value="2">完成</option>
                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.RoutePlanTag" name="prov">
                            <option value="" selected="selected" disabled="disabled">路线分配状态</option>
                            <option value="1">草稿</option>
                            <option value="2">完成</option>
                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.TransResPlanTag" name="prov">
                            <option value="" selected="selected" disabled="disabled">资源状态</option>
                            <option value="1">草稿</option>
                            <option value="2">完成</option>
                        </select>
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-truck"></i>
                        <input source="unionParam.TrVendor" update-callback="updateTrVendor(item)" im-auto-complete method="customerAuto3" name="Cr" placeholder="承运商代码">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-road"></i>
                        <input ng-model="unionParam.RouteID" type="text" name="Cr" placeholder="路线代码">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-file"></i>
                        <input ng-model="unionParam.RouteClassID" type="text" name="Cr" placeholder="路单号">
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.resType1" name="prov">
                            <option value="" selected="selected" disabled="disabled">资源类型</option>
                            <option ng-repeat="value in resourceTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-folder-open"></i>
                        <input ng-model="unionParam.resID1" type="text" name="Cr" placeholder="资源编号">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode"></i>
                        <input ng-model="unionParam.ResAmtCS1" type="text" name="Cr" placeholder="资源条码1">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode"></i>
                        <input type="text" name="Cr" placeholder="资源条码2">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.resType2" name="prov">
                            <option value="" selected="selected" disabled="disabled">资源类型</option>
                            <option ng-repeat="value in resourceTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-folder-open"></i>
                        <input ng-model="unionParam.resID2" type="text" name="Cr" placeholder="资源编号">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode"></i>
                        <input ng-model="unionParam.ResAmtCS2" type="text" name="Cr" placeholder="资源条码1">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode"></i>
                        <input type="text" name="Cr" placeholder="资源条码2">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="select">
                        <select ng-model="unionParam.resType3" name="prov">
                            <option value="" selected="selected" disabled="disabled">资源类型</option>
                            <option ng-repeat="value in resourceTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-folder-open"></i>
                        <input ng-model="unionParam.resID3" type="text" name="Cr" placeholder="资源编号">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode"></i>
                        <input ng-model="unionParam.ResAmtCS3" type="text" name="Cr" placeholder="资源条码1">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode"></i>
                        <input type="text" name="Cr" placeholder="资源条码2">
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input ng-model="unionParam.MatIID" type="text" name="Cr" placeholder="物料编码">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input ng-model="unionParam.customerMatID" type="text" name="Cr" placeholder="客户物料编码">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-search"></i>
                        <input im-auto-complete source="unionParam.vendor" method="customerAuto6" update-callback="updateVendor(item)" name="Cr" placeholder="制造商">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                </section>
            </div>
        </fieldset>
    </form>
</div>
