<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iTMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>

<body>

    <div ng-app="itmsApp">
        <div data-ng-include="'/views/layout/shell.html'"></div>
    </div>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
<!--compiled JavaScript end-->

    <script>

        $.menu_speed = 235;
        $(function () {
            nav_page_height();
            $('nav ul').jarvismenu({
                accordion: true,
                speed: $.menu_speed,
                closedSign: '<em class="fa fa-expand-o"></em>',
                openedSign: '<em class="fa fa-collapse-o"></em>'
            });

            $('#main').resize(function () {
                nav_page_height();
                //check_if_mobile_width();
            })

            $('nav').resize(function () {
                nav_page_height();
            })
        });

    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/common/directives.js"></script>
    <script src="scripts/common/controllers.js"></script>
    <script src="scripts/app.js"></script>

    <script src="scripts/config.js"></script>
    <script src="scripts/routeConfig.js"></script>

    <script src="views/layout/shell.js"></script>
    <script src="scripts/services/orderService.js"></script>
    <script src="scripts/services/stringService.js"></script>

    <script src="scripts/services/eoService.js"></script>
    <script src="scripts/controllers/networkCtrl.js"></script>
    <script src="scripts/controllers/EOAssignAdjustCtrl.js"></script>
    <script src="scripts/controllers/EventMaintenance/HandleEventCtrl.js"></script>
    <script src="scripts/controllers/EventMaintenance/EventMaintenanceCtrl.js"></script>
    <script src="scripts/controllers/RequirementUploadCtrl.js"></script>
    <script src="scripts/controllers/EOAssignCtrl.js"></script>

    <!-- endbuild -->
</body>
</html>
