<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="$dismiss()">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="150" alt="iTMS">
    </h4>
</div>

<div class="modal-body no-padding">
    <div class="alert alert-info fade in">
        <i class="fa-fw fa fa-list"></i><strong>需求ER:</strong>&nbsp;{{basicData.requirement.erID}}/{{basicData.requirementDetail.pk.erITN}}<br>
        <i class="fa-fw fa fa-link"></i><strong>已分配EO:</strong>&nbsp;{{basicData.requirementDetail.eoid}}
    </div>
    <ul id="erTab" class="nav nav-tabs bordered">
        <li class="active"><a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-tag "></i>基本信息</a> </li>
        <li><a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-arrow-circle-up "></i>发货方</a> </li>
        <li><a href="#s3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-arrow-circle-down "></i>收货方</a> </li>
        <li><a href="#s4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-inbox"></i>资源</a> </li>
        <li><a href="#s5" data-toggle="tab"><i class="fa fa-fw fa-lg fa-list-ol"></i>行项目</a> </li>
        <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-lg fa-edit"></i>操作<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" data-toggle="tab"><i class="fa fa-fw fa-lg fa-save"></i>保存</a> </li>
                <li><a href="#" data-target="#myaction" data-toggle="modal"><i class="fa fa-fw fa-lg fa-eye"></i>事件处理</a> </li>
                <li><a href="#" data-toggle="tab"><i class="fa fa-fw fa-lg fa-refresh"></i>刷新</a> </li>
            </ul>
        </li>
    </ul>
    <div id="myTabContent1" class="tab-content padding-10">
        <div class="tab-pane fade in active" id="s1">
            <div class="smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>需求状态</label>
                            <label class="select">
                                <select name="prov" ng-model="basicData.requirement.erStatus">
                                    <option value="0" selected disabled>开始</option>
                                    <option value="1">完成</option>
                                    <option value="2">理货</option>
                                </select>
                                <i class="fa fa-check-square"></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>行项目状态</label>
                            <label class="select">
                                <select name="prov" ng-model="basicData.requirementDetail.erITNStatus">
                                    <option value="0" selected disabled>开始</option>
                                    <option value="1">延迟</option>
                                    <option value="2">派送</option>
                                </select>
                                <i class="fa fa-check-square"></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label>需求类型</label>
                            <label class="select">
                                <select name="prov" ng-model="basicData.requirement.erType">
                                    <option value="0" selected disabled>紧急</option>
                                    <option value="1">预付</option>
                                    <option value="2">监控</option>
                                    <option value="3">索赔</option>
                                    <option value="4">统配</option>
                                </select>
                                <i class="fa fa-check-square"></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>运输方式</label>
                            <label class="select">
                                <select name="prov" ng-model="basicData.requirement.erTRType">
                                    <option value="0" selected disabled>空运</option>
                                    <option value="1">快运</option>
                                    <option value="2">自有运输</option>
                                </select>
                                <i class="fa fa-check-square"></i>
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>特殊运输标识</label>
                            <label class="select">
                                <select name="prov" ng-model="basicData.requirement.erTag">
                                    <option value="0" selected disabled>危险品</option>
                                    <option value="1">冷藏</option>
                                </select>
                                <i class="fa fa-check-square"></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>客户订单号</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-tag"></i>
                                <input type="text" name="Cr" placeholder="客户订单号" ng-model="basicData.requirement.customerOrder1">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>客户运单号</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-tag"></i>
                                <input type="text" name="Cr" placeholder="客户运单号" ng-model="basicData.requirement.customerOrder2">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>客户出库号</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-tag"></i>
                                <input type="text" name="Cr" placeholder="客户出库号" ng-model="basicData.requirement.customerOrder3">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-3">
                            <label>总件数</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list-ol "></i>
                                <input type="text" name="Cr" placeholder="总件数" ng-model="basicData.requirement.totalAmt">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>总重量</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-outdent "></i>
                                <input type="text" name="Cr" placeholder="总重量" ng-model="basicData.requirement.totalWgt">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>总体积</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-th "></i>
                                <input type="text" name="Cr" placeholder="总体积" ng-model="basicData.requirement.totalVol">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>总体积/重</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list"></i>
                                <input type="text" name="Cr" placeholder="总体积/重" ng-model="basicData.requirement.totalVolWgt">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <div class="form-group">
                                <label>波次交接日期</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-calendar"></i>
                                    <input type="text" name="startdate" id="startdate"
                                        placeholder="波次交接日期" ng-model="basicData.requirement.recERDate">
                                </label>
                            </div>
                        </section>
                        <section class="col col-4">
                            <div class="form-group">
                                <label>波次交接时间</label>
                                <div class="input-group">
                                    <input class="form-control" id="timepicker" type="text" value=""
                                        placeholder="波次交接时间" ng-model="basicData.requirement.recERTime">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <div class="form-group">
                                <label>要求接货日期</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-calendar"></i>
                                    <input type="text" name="startdate" id="Text1"
                                        placeholder="要求接货日期" ng-model="basicData.requirement.pickERDate">
                                </label>
                            </div>
                        </section>
                        <section class="col col-4">
                            <div class="form-group">
                                <label>要求接货时间</label>
                                <div class="input-group">
                                    <input class="form-control" id="Text2" type="text" value=""
                                        placeholder="要求接货时间" ng-model="basicData.requirement.pickERStartTime">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <div class="form-group">
                                <label>要求发运日期</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-calendar"></i>
                                    <input type="text" name="startdate" id="Text3"
                                        placeholder="要求发运日期" ng-model="basicData.requirement.oprERDate">
                                </label>
                            </div>
                        </section>
                        <section class="col col-4">
                            <div class="form-group">
                                <label>要求发运时间</label>
                                <div class="input-group">
                                    <input class="form-control" id="Text4" type="text" value=""
                                        placeholder="要求发运时间" ng-model="basicData.requirement.oprERFinishTime">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <div class="form-group">
                                <label>要求到达日期</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-calendar"></i>
                                    <input type="text" name="startdate" id="Text5"
                                        placeholder="要求到达日期" ng-model="basicData.requirement.reqDelDate">
                                </label>
                            </div>
                        </section>
                        <section class="col col-4">
                            <div class="form-group">
                                <label>要求到达时间</label>
                                <div class="input-group">
                                    <input class="form-control" id="Text6" type="text" value=""
                                        placeholder="要求到达时间" ng-model="basicData.requirement.reqDelTimeE">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-9">
                            <label class="textarea">
                                <textarea rows="3" name="info" placeholder="附加信息"
                                    ng-model="basicData.requirement.memo"></textarea>
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="tab-pane fade" id="s2">
            <div id="Form1" class="smart-form" novalidate>
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label>发货方客户代码</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" name="Cr" placeholder="客户代码" ng-model="basicData.requirement.depCustomer">
                            </label>
                        </section>
                        <section class="col col-8">
                            <label>发货方客户名称</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-info"></i>
                                <input type="text" disabled name="Cr" placeholder="客户名称">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>联系人</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" name="Cr" placeholder="联系人" ng-model="basicData.requirement.depCustomerContact">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>电子邮件</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-envelope-o"></i>
                                <input type="text" name="Cr" placeholder="电子邮件" ng-model="basicData.requirement.depCustomerEmail">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>电话</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-phone"></i>
                                <input type="text" name="Cr" placeholder="电话" ng-model="basicData.requirement.depCustomerPhone">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label>位置代码</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-map-marker"></i>
                                <input type="text" name="Cr" placeholder="位置代码" ng-model="basicData.requirement.depLocCode">
                            </label>
                        </section>
                        <section class="col col-8">
                            <label>位置描述</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-info"></i>
                                <input type="text" disabled name="Cr" placeholder="位置描述">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-9">
                            <label class="textarea">
                                <textarea rows="3" name="info" placeholder="附加信息" ng-model="basicData.requirement.depMemo"></textarea>
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="tab-pane fade" id="s3">
            <div id="Form2" class="smart-form" novalidate>
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label>收货方客户代码</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" name="Cr" placeholder="客户代码" ng-model="basicData.requirement.recCustomer">
                            </label>
                        </section>
                        <section class="col col-8">
                            <label>收货方客户名称</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-info"></i>
                                <input type="text" disabled name="Cr" placeholder="客户名称">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>联系人</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" name="Cr" placeholder="联系人" ng-model="basicData.requirement.recCustomerContact">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>电子邮件</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-envelope-o"></i>
                                <input type="text" name="Cr" placeholder="电子邮件" ng-model="basicData.requirement.recCustomerEmail">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>电话</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-phone"></i>
                                <input type="text" name="Cr" placeholder="电话" ng-model="basicData.requirement.recCustomerPhone">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label>位置代码</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-map-marker"></i>
                                <input type="text" name="Cr" placeholder="位置代码" ng-model="basicData.requirement.recLocCode">
                            </label>
                        </section>
                        <section class="col col-8">
                            <label>位置描述</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-info"></i>
                                <input type="text" disabled name="Cr" placeholder="位置描述">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-9">
                            <label class="textarea">
                                <textarea rows="3" name="info" placeholder="附加信息" ng-model="basicData.requirement.recMemo"></textarea>
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="tab-pane fade" id="s4">
            <div id="Form3" class="smart-form" novalidate>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>资源类型1</label>
                            <label class="select">
                                <select name="city" ng-model="basicData.requirement.resType1">
                                    <option value="0" selected disabled>托盘</option>
                                    <option value="244">包装木箱</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>数量</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list-ol"></i>
                                <input type="text" name="pc" placeholder="数量" ng-model="basicData.requirement.resAmt1">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>资源类型2</label>
                            <label class="select">
                                <select name="city" ng-model="basicData.requirement.resType2">
                                    <option value="0" selected disabled>托盘</option>
                                    <option value="244">包装木箱</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>数量</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list-ol"></i>
                                <input type="text" name="pc" placeholder="数量" ng-model="basicData.requirement.resAmt2">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>资源类型3</label>
                            <label class="select">
                                <select name="city" ng-model="basicData.requirement.resType3">
                                    <option value="0" selected disabled>托盘</option>
                                    <option value="244">包装木箱</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>数量</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list-ol "></i>
                                <input type="text" name="pc" placeholder="数量" ng-model="basicData.requirement.resAmt3">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-9">
                            <label class="textarea">
                                <textarea rows="3" name="info" placeholder="附加信息"></textarea>
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="tab-pane fade" id="s5">
            <div id="Form4" class="smart-form" novalidate>
                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            <label>物料编码</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-font"></i>
                                <input type="text" name="lname" placeholder="物料编码" ng-model="basicData.requirementDetail.matIID">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>物料描述</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-info"></i>
                                <input type="text" name="lname" placeholder="物料描述发动机总成" disabled>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                         <section class="col col-6">
                            <label>已分配EO</label>
                            <label class="input">
                                 <i class="icon-prepend fa fa-font"></i>
                                <input type="text" name="lname" placeholder="EO" ng-model="basicData.requirementDetail.eoid">
                            </label>
                        </section>
                        <section class="col col-3">
                            <label>状态</label>
                            <label class="select">
                                <select name="city" ng-model="basicData.requirementDetail.status">
                                    <option value="0" selected disabled>状态</option>
                                    <option value="244">完好</option>
                                    <option value="1">包装破损</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label>箱号</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-qrcode"></i>
                                <input type="text" name="pc" placeholder="箱号" ng-model="basicData.requirementDetail.packNum">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label>数量</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list-ol "></i>
                                <input type="text" name="pc" placeholder="数量" ng-model="basicData.requirementDetail.amt">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label>长CM</label>
                            <label class="input">
                                <i class="icon-prepend fa  fa-resize-full "></i>
                                <input type="text" name="pc" placeholder="长CM" ng-model="basicData.requirementDetail.longe">
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>宽CM</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-text-width"></i>
                                <input type="text" name="pc" placeholder="宽CM" ng-model="basicData.requirementDetail.width">
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>高CM</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-text-height "></i>
                                <input type="text" name="pc" placeholder="高CM" ng-model="basicData.requirementDetail.height">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label>体积CM</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-th"></i>
                                <input type="text" name="pc" placeholder="体积M3" ng-model="basicData.requirementDetail.vol">
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>重量</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-tint  "></i>
                                <input type="text" name="pc" placeholder="重量" ng-model="basicData.requirementDetail.wgt">
                            </label>
                        </section>
                        <section class="col col-4">
                            <label>体积重</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-th-large  "></i>
                                <input type="text" name="pc" placeholder="体积重" ng-model="basicData.requirementDetail.volWgt">
                            </label>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
