<section>
    <div class="row">
        <div ng-include src='"app/common/pageTitle.html"'></div>
    </div>
    <div class="row">
        <article data-it-jarvis class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget  jarviswidget-color-pink" id="wid-query" data-widget-editbutton="false"
                data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-search"></i></span>
                    <h2>查询可分配需求</h2>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-xs btn-info" data-toggle="dropdown">&nbsp;操作 <i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0)" ng-click="unionReset()"><i class="fa fa-refresh"></i>&nbsp;重置搜索条件</a> </li>
                                <li><a href="javascript:void(0)" ng-click="unionSearch()"><i class="fa fa-search"></i>&nbsp;查询</a> </li>
                            </ul>
                        </div>
                    </div>
                    <ul id="widget-tab-1" class="nav nav-tabs pull-right">
                        <li class="active"><a data-toggle="tab" data-target="#base" href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-bolt"></i><span class="hidden-mobile hidden-tablet">&nbsp;快速查询 </span></a></li>
                        <li><a data-toggle="tab" data-target="#erhead" href="javascript:void(0)"><i class="fa fa-lg fa-info-circle "></i><span class="hidden-mobile hidden-tablet">&nbsp;需求头信息 </span></a></li>
                        <li><a data-toggle="tab" data-target="#erlocation" href="javascript:void(0)"><i class="fa fa-lg fa-map-marker "></i><span class="hidden-mobile hidden-tablet">&nbsp;需求位置信息 </span></a></li>
                        <li><a data-toggle="tab" data-target="#eritem" href="javascript:void(0)"><i class="fa fa-lg fa-tags "></i><span class="hidden-mobile hidden-tablet">&nbsp;需求行项目 </span></a></li>

                    </ul>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="base">
                                <div id="checkout-form" class="smart-form">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-sitemap"></i>
                                                    <input type="text" name="CRP2" ng-model="selectedSite" placeholder="站点代码">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <button class="btn btn-warning btn-sm" ng-click="searchSite()">
                                                    <i class="fa fa-search "></i>&nbsp;站点搜索
                                                </button>
                                                <!--ng-click="popup($event);"-->
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up"></i>
                                                    <input type="text" name="CRP2" ng-model="selectedCustomer.dep" placeholder="发货方代码">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <button class="btn btn-success btn-sm" ng-click="searchCustomer('dep')">
                                                    <i
                                                        class="fa fa-search "></i>&nbsp;发货方搜索
                                                </button>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-map-marker"></i>
                                                    <input type="text" name="CRP2" ng-model="selectedPosition.dep" placeholder="发货方位置">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <button class="btn btn-info btn-sm"><i class="fa fa-search "></i>&nbsp;位置搜索</button>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-down"></i>
                                                    <input type="text" name="CRP2" ng-model="selectedCustomer.rec" placeholder="收货方代码">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <button class="btn btn-success btn-sm" ng-click="searchCustomer('rec')">
                                                    <i class="fa fa-search "></i>&nbsp;收货方搜索
                                                </button>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-map-marker"></i>
                                                    <input type="text" name="CRP2" ng-model="selectedPosition.rec" placeholder="收货方位置">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <button class="btn btn-info btn-sm"><i class="fa fa-search "></i>&nbsp;位置搜索</button>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-user"></i>
                                                    <input type="text" name="CRP2" ng-model="user" placeholder="创建用户">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-inbox"></i>
                                                    <input type="text" ng-model="ERID[0]" name="CRP3" placeholder="ER需求编号">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-calendar"></i>
                                                    <input type="text" name="CRP2" id="createDate" im-datepicker ng-model="createDate"
                                                        placeholder="创建日期">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label"><i class="fa fa-list"></i>运单类型</label>
                                                <label class="select select-multiple">
                                                <select multiple="multiple" ng-multiple="true" class="custom-scroll"  data-ng-model="ERType"
                                                        data-ng-options="config.code as config.description for config in eoTypes">
                                                    </select>
                                                </label>
                                                <div class="note"><strong>提示:</strong> 按ctrl键进行多选操作 </div>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label"><i class="fa fa-truck "></i>运输方式</label>
                                                <label class="select select-multiple">
                                                      <label class="select select-multiple">
                                                    <select class="custom-scroll" multiple ng-model="ERTRType"
                                                        data-ng-options="config.code as config.description for config in transportTypes">
                                                    </select>
                                                </label>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label"><i class="fa fa-ambulance "></i>运输特殊标识</label>
                                                 <label class="select select-multiple">
                                                    <select class="custom-scroll" multiple data-ng-model="ERTag"
                                                        data-ng-options="config.code as config.description for config in tags">
                                                    </select>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">

                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-inbox"></i>
                                                    <input type="text" ng-model="ERID[0]" name="CRP3" placeholder="ER需求编号">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" placeholder="客户订单号" data-ng-model="customerOrder1">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" placeholder="海通运单号" data-ng-model="customerOrder2">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" placeholder="海通委托单号" data-ng-model="customerOrder3">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-sitemap "></i>
                                                    <input type="text" placeholder="运输区域组别" data-ng-model="dep_Group1">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-map-marker  "></i>
                                                    <input type="text" placeholder="出发地省" data-ng-model="dep_State">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-map-marker "></i>
                                                    <input type="text" placeholder="出发地城市" data-ng-model="dep_City">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-location-arrow "></i>
                                                    <input type="text" placeholder="目的地省" data-ng-model="rec_State">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-location-arrow"></i>
                                                    <input type="text" placeholder="目的地城市" data-ng-model="rec_City">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>

                                    <footer>
                                        <button type="button" ng-click="quickSearch()" class="btn btn-primary">
                                            <i class="fa fa-search"></i>&nbsp;查询
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="reset()">
                                            <i class="fa fa-reply-all "></i>&nbsp;重置
                                        </button>
                                    </footer>
                                </div>
                            </div>

                            <div class="tab-pane fade in" id="erhead">
                                <div class="smart-form">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search "></i>
                                                    <input type="text" ng-model="unionParam.ERID" name="Cr" placeholder="ER需求号">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search "></i>
                                                    <input type="text" ng-model="unionParam.EOID" name="Cr" placeholder="EO运单号">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-calendar"></i>
                                                    <input type="text" ng-model="unionParam.pickERDate" im-datepicker placeholder="预计出发日期">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-calendar"></i>
                                                    <input type="text" ng-model="unionParam.reqDelDate" im-datepicker placeholder="预计到达日期">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.ERType" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">需求类型</option>
                                                        <option ng-repeat="value in transportTypes  track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.ERStatus" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">需求状态</option>
                                                        <option ng-repeat="value in transportTypes  track by $index" value="{{value.code}}">{{value.description}}</option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.ERTRType" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">运输模式</option>
                                                        <option ng-repeat="value in transportTypes  track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select  name="prov">
                                                        <option value="" selected="selected" disabled="disabled">运输方式</option>
                                                        <option ng-repeat="value in transportTypes  track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-heart"></i>
                                                    <input ng-model="unionParam.BP1" type="text" name="customer" placeholder="合同方代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-heart"></i>
                                                    <input ng-model="unionParam.BP2" type="text" name="customer" placeholder="付款方代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-heart"></i>
                                                    <input ng-model="unionParam.BP3" type="text" name="customer" placeholder="货主方代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" ng-model="unionParam.project" name="customer" placeholder="项目代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" ng-model="unionParam.plannedID" name="customer" placeholder="发运周代码">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" ng-model="unionParam.contractID" name="customer" placeholder="合同号">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" ng-model="unionParam.customerOrder1" name="dest" placeholder="客户订单号">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" name="dest" ng-model="unionParam.customerOrder2" placeholder="供应商订单号">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input type="text" ng-model="unionParam.customerOrder3" name="dest" placeholder="B/L提单号">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="erlocation">
                                <div class="smart-form">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.depLocCode" name="Cr" placeholder="出发地代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.dep_Country" name="Cr" placeholder="国家">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.dep_State" name="Cr" placeholder="省市">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.dep_City" name="Cr" placeholder="区县">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.dep_Group1" name="Cr" placeholder="区域组">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-down "></i>
                                                    <input type="text" ng-model="unionParam.recLocCode" name="Cr" placeholder="目的地代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.rec_Country" name="Cr" placeholder="国家">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.rec_State" name="Cr" placeholder="省市">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.rec_City" name="Cr" placeholder="区县">
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-arrow-circle-up "></i>
                                                    <input type="text" ng-model="unionParam.rec_Group1" name="Cr" placeholder="区域组">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="eritem">
                                <div class="smart-form">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.ERITNStatus" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">行项目状态</option>
                                                        <option ng-repeat="value in transportTypes  track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.ItemSplitPlan" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">包装分拆状态</option>
                                                        <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.RoutePlanTag" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">路线分配状态</option>
                                                        <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.TransResPlanTag" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">资源状态</option>
                                                        <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-truck"></i>
                                                    <input ng-model="unionParam.TrVendor" type="text" name="Cr" placeholder="承运商代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-road"></i>
                                                    <input ng-model="unionParam.RouteID" type="text" name="Cr" placeholder="路线代码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-file"></i>
                                                    <input ng-model="unionParam.RouteClassID" type="text" name="Cr" placeholder="路单号">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.resType1" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">资源类型</option>
                                                        <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-folder-open"></i>
                                                    <input ng-model="unionParam.resID1" type="text" name="Cr" placeholder="资源编号">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-barcode"></i>
                                                    <input ng-model="unionParam.ResAmtCS1" type="text" name="Cr" placeholder="资源条码1">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-barcode"></i>
                                                    <input  type="text" name="Cr" placeholder="资源条码2">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.resType2" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">资源类型</option>
                                                        <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-folder-open"></i>
                                                    <input ng-model="unionParam.resID2" type="text" name="Cr" placeholder="资源编号">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-barcode"></i>
                                                    <input ng-model="unionParam.ResAmtCS2" type="text" name="Cr" placeholder="资源条码1">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-barcode"></i>
                                                    <input  type="text" name="Cr" placeholder="资源条码2">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="select">
                                                    <select ng-model="unionParam.resType3" name="prov">
                                                        <option value="" selected="selected" disabled="disabled">资源类型</option>
                                                        <option ng-repeat="value in transportTypes track by $index" value="{{value.code}}">{{value.description}}</option>

                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-folder-open"></i>
                                                    <input ng-model="unionParam.resID3" type="text" name="Cr" placeholder="资源编号">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-barcode"></i>
                                                    <input ng-model="unionParam.ResAmtCS3" type="text" name="Cr" placeholder="资源条码1">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-barcode"></i>
                                                    <input  type="text" name="Cr" placeholder="资源条码2">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input ng-model="unionParam.MatIID" type="text" name="Cr" placeholder="物料编码">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input ng-model="unionParam.customerMatID" type="text" name="Cr" placeholder="客户物料编码">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-search"></i>
                                                    <input ng-model="unionParam.vendor" type="text" name="Cr" placeholder="制造商">
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myDepcustomer"><i class="fa fa-search "></i></button>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="row">
        <article data-it-jarvis class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-pink" id="wid-result" data-widget-editbutton="false"
                data-widget-deletebutton="false" data-widget-collapsed="true">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>

                    <h2>可分配需求</h2>

                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                操作 <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="" ng-click="export()"><i class="fa fa-cloud-download "></i>&nbsp;导出</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="createEOByER()"><i class="fa fa-edit"></i>&nbsp;按需求创建订单</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="createEOByERITN()"><i class="fa fa-edit"></i>&nbsp;按需求项目创建订单</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="assignResource()"><i class="fa fa-retweet"></i>&nbsp;运输资源分配</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="assignRoute()"><i class="fa fa-sitemap"></i>&nbsp;运输路线分配</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="batchUpdate()"><i class="fa fa-copy "></i>&nbsp;批量更新－H</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="autoSplitERITN()"><i class="fa fa-edit"></i>&nbsp;自动调整包装数量</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="create()"><i class="fa fa-edit"></i>&nbsp;合并至运单</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="adjust()"><i class="fa fa-truck"></i>&nbsp;运输方式调整</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}"><a href="javascript:void(0)" ng-click="packUpdate()"><i class="fa fa-unlink"></i>&nbsp;P-批量包装数据更新</a> </li>
                                <li ng-class="{disabled:!isOnlyOneSelected()}"><a href="javascript:void(0)" ng-click="rowItemSplit()"><i class="fa fa-unlink"></i>&nbsp;M-手工行项目拆分</a> </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="deleteEritm()" id="smart-mod-delER"><i
                                        class="fa fa-minus-circle"></i>&nbsp;删除项目</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="deleteEr()" id="smart-mod-delERITN"><i
                                        class="fa fa-times-circle"></i>&nbsp;删除需求</a>
                                </li>
                                <li ng-class="{disabled:!isAnythingSelected()}">
                                    <a href="" ng-click="handleEvent()" id="smart-mod-createEvent"><i
                                        class="fa fa-edit"></i>&nbsp;事件处理</a>
                                </li>

                                <li>
                                    <a href="" ng-click="quickSearch()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div id="tableWidget" class="widget-body no-padding">
                        <div class="widget-body-toolbar">
                        </div>
                        <div data-im-table
                            header-titles="columns"
                            detail-config="detailConfig"
                            my-source="quickResult"
                            selected-items="selectedItems"
                            can-select>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

</section>

