<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="100" alt="iTMS">
    </h4>
</div>
<div class="modal-body no-padding">
    <div class="smart-form">
        <fieldset>
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>{{selectedItems.length}}&nbsp;</strong>条ER需求项目将被转换成EO运单
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="select">
                        <select ng-model="createData.EOType">
                            <option value="0" selected disabled>运单EO类型</option>
                            <option value="1">普通</option>
                            <option value="2">紧急</option>
                            <option value="3">索赔</option>
                            <option value="4">统配</option>
                            <option value="5">预付</option>
                        </select>
                        <i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="select">
                        <select ng-model="createData.EOTRType">
                            <option value="0" selected disabled>运输方式</option>
                            <option value="1">航空</option>
                            <option value="2">公路</option>
                            <option value="3">铁路</option>
                            <option value="4">第三方物流</option>
                            <option value="5">其它</option>
                        </select>
                        <i></i>
                    </label>
                </section>

            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-prepend fa fa-list"></i>
                        <input type="text" name="Cr" ng-model="createData.customerOrder1" placeholder="预付/合同编号">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="select">
                        <select ng-model="createData.EOTag">
                            <option value="0" selected disabled>特殊标识</option>
                            <option value="1">危险品</option>
                            <option value="2">不允许航空</option>
                            <option value="3">放射性</option>
                            <option value="4">冷链</option>
                        </select>
                        <i></i>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="select">
                        <select ng-model="createData.EOTRVendor1" ng-options="value.customer as value.name for value in carriers">
                            <option value="" disabled>承运商</option>
                        </select>
                        <i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-prepend fa fa-barcode "></i>
                        <input type="text" name="Cr" ng-model="createData.VendorOrder1" placeholder="承运商运单编号">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="select">
                        <select ng-model="createData.DeliverBP1">
                            <option value="0" selected disabled>配送网络公司</option>
                            <option value="1">网络公司1</option>
                            <option value="2">网络公司2</option>
                            <option value="3">网络公司3</option>
                            <option value="4">网络公司4</option>
                        </select>
                        <i></i>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="select">
                        <select>
                            <option value="0" selected disabled>网络公司位置代码</option>
                            <option value="1">LOC001-上海徐汇</option>
                            <option value="2">LOC002-苏州昆山</option>
                        </select>
                        <i></i>
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <div class="form-group">
                        <label class="input">
                            <i class="icon-prepend fa fa-calendar"></i>
                            <input type="text" name="startdate" id="startdateEO" placeholder="要求达到日期">
                        </label>
                    </div>
                </section>
                <section class="col col-6">
                    <div class="form-group">
                        <label class="input">
                            <i class="icon-prepend fa fa-calendar"></i>
                            <input type="text" name="startdate" id="deldateEO" placeholder="要求配送日期">
                        </label>
                    </div>
                </section>
            </div>

        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-9">
                    <label class="textarea">
                        <textarea rows="3" ng-model="createData.memo" name="info" placeholder="附加信息"></textarea>
                    </label>
                </section>
            </div>

        </fieldset>
        <footer>
            <button id="smart-mod-createEO" ng-click="confirmCreate()" class="btn btn-success">
                <i class="fa fa-check"></i>
                创建运单
            </button>
        </footer>
    </div>
</div>
<script>
    
    $('#startdateEO').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',

    });

    $('#deldateEO').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',

    });
</script>