<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="100" alt="iTMS">
    </h4>
</div>

<div class="modal-body no-padding">
    <h3 class="row-seperator-header"><i class="fa fa-copy"></i>包装批量更新</h3>
    <form class="smart-form" novalidate>
        <fieldset>
            
             <div class="alert alert-warning fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-warning"></i>
                                <strong>{{data.ERID.length}}&nbsp;</strong>条记录被选择操作
                            </div>
            <div class="row">
                <!--       <section class="col col-3">
                               <label class="select">
                                   <select name="prov">
                                       <option value="" selected disabled>主包装类型</option>
                                       <option value="1">类型1</option>
                                       <option value="2">类型2</option>
                                   </select>
                               </label>
                           </section>-->
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-info-circle "></i>
                        <input type="text" name="code" ng-model="data.ResAmtCS1" placeholder="包装代码" list="packlist">
                        <datalist id="packlist">
                            <!--   <option value="B1010"></option>
                                <option value="A12121"></option>
                                <option value="SPC001"></option>
                                <option value="G1188"></option>
                                <option value="TEST"></option>-->
                        </datalist>
                    </label>

                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode "></i>
                        <input type="text" name="code" ng-model="data.PackNum" placeholder="包装条码">
                    </label>
                </section>
                <section class="col col-2">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" />
                        <i></i>置空
                    </label>
                </section>
            </div>
            <div class="row">
                <!--      <section class="col col-3">
                              <label class="select">
                                  <select name="prov">
                                      <option value="0" selected disabled>包装类型</option>
                                      <option value="1">类型1</option>
                                      <option value="2">类型2</option>
                                  </select>
                              </label>
                          </section>-->
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-info-circle "></i>
                        <input type="text" name="code" placeholder="包装代码"  ng-model="data.ResAmtCS2" list="packlist">
                        <!--   <datalist id="Datalist1">
                                   <option value="B1010"></option>
                                   <option value="A12121"></option>
                                   <option value="SPC001"></option>
                                   <option value="G1188"></option>
                                   <option value="TEST"></option>
                               </datalist>-->
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode "></i>
                        <input type="text" name="code"  ng-model="data.PackNum2" placeholder="包装条码">
                    </label>
                </section>
                <section class="col col-2">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" />
                        <i></i>置空
                    </label>
                </section>
            </div>
            <div class="row">
                <!--     <section class="col col-3">
                             <label class="select">
                                 <select name="prov">
                                     <option value="0" selected disabled>包装类型</option>
                                     <option value="1">类型1</option>
                                     <option value="2">类型2</option>
                                 </select>
                             </label>
                         </section>-->
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-info-circle "></i>
                        <input type="text" name="code" placeholder="包装代码"  ng-model="data.ResAmtCS3" list="packlist">
                        <!--   <datalist id="Datalist2">
                                   <option value="B1010"></option>
                                   <option value="A12121"></option>
                                   <option value="SPC001"></option>
                                   <option value="G1188"></option>
                                   <option value="TEST"></option>
                               </datalist>-->
                    </label>

                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode "></i>
                        <input type="text" name="code"  ng-model="data.PackNum3" placeholder="包装条码">
                    </label>
                </section>
                <section class="col col-2">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" />
                        <i></i>置空
                    </label>
                </section>
            </div>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-success" ng-click="save()">分配</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">返回</button>
        </footer>
    </form>
</div>



