<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="100" alt="iTMS">
    </h4>
</div>
<div class="modal-body no-padding">
    <h3 class="row-seperator-header"><i class="fa fa-random "></i>手工行项目拆分</h3>
    <div class="alert alert-default fade in">
        <i class="fa-fw fa fa-check-square-o"></i><strong>ER/ERITN </strong>{{data.ERID}}/{{data.ERITN}}<br>
        <i class="fa-fw fa fa-check-square-o"></i><strong>客户订单号 </strong>{{data.customerOrder1}}<br>
        <i class="fa-fw fa fa-check-square-o"></i><strong>客户 </strong>{{data.bp1Desc}}<br>
        <i class="fa-fw fa fa-check-square-o"></i><strong>供应商 </strong>{{data.vendorDesc}}<br>
        <i class="fa-fw fa fa-check-square-o"></i><strong>物料 </strong>{{data.matIID}}<br>
        <i class="fa-fw fa fa-check-square-o"></i><strong>总数量 </strong>{{data.availableAmt}}
    </div>
</div>
<div class="modal-body no-padding">
    <h3 class="row-seperator-header"><i class="fa fa-wrench"></i>拆分作业 </h3>
    <div  class="smart-form">
        <fieldset>
              <div class="alert alert-danger fade in" ng-show="isError">
                                <button class="close" ng-click="clearError()">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-warning"></i>
                                拆分数量不应超过可拆分数量
                            </div>
            <div class="row">
                <section class="col col-5">
                    <label class="input">
                        <i class="icon-prepend fa fa-warning"></i>
                        <input type="text" name="code" disabled="disabled" placeholder="可拆分数量: {{data.availableAmt}}">
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-edit"></i>
                        <input type="text" name="code" ng-model="data.Amt" placeholder="拆分数量">
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <!--     <section class="col col-2">
                    <label class="select">
                        <select name="prov">
                            <option value="" selected disabled>主包装类型</option>
                            <option value="1">类型1</option>
                            <option value="2">类型2</option>
                        </select>
                    </label>
                </section>-->
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-info-circle"></i>
                        <input type="text" name="code" ng-model="data.ResAmtCS1" placeholder="包装代码" list="packlist">
                    </label>

                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode"></i>
                        <input type="text" name="code" ng-model="data.PackNum" placeholder="包装条码">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-pencil"></i>
                        <input type="text" name="code" ng-model="data.ResAmt1"  placeholder="包装数量">
                    </label>
                </section>
            </div>
            <div class="row">
                <!--     <section class="col col-2">
                    <label class="select">
                        <select name="prov">
                            <option value="" selected disabled>包装类型</option>
                            <option value="1">类型1</option>
                            <option value="2">类型2</option>
                        </select>
                    </label>
                </section>-->
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-info-circle"></i>
                        <input type="text" name="code" ng-model="data.ResAmtCS2" placeholder="包装代码" list="packlist">
                    </label>

                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode"></i>
                        <input type="text" ng-model="data.PackNum2" name="code" placeholder="包装条码">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-pencil"></i>
                        <input type="text" name="code"  ng-model="data.ResAmt2"   placeholder="包装数量">
                    </label>
                </section>
            </div>
            <div class="row">
                <!--      <section class="col col-2">
                    <label class="select">
                        <select name="prov">
                            <option value="" selected disabled>包装类型</option>
                            <option value="1">类型1</option>
                            <option value="2">类型2</option>
                        </select>
                    </label>
                </section>-->
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-info-circle"></i>
                        <input type="text" name="code" ng-model="data.ResAmtCS3" placeholder="包装代码" list="packlist">
                    </label>

                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode"></i>
                        <input type="text" name="code"  ng-model="data.PackNum3" placeholder="包装条码">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-pencil"></i>
                        <input type="text" name="code"  ng-model="data.ResAmt3"   placeholder="包装数量">
                    </label>
                </section>
            </div>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-success" ng-click="saveConfirm()">保存并确认</button>
            <button type="button" class="btn btn-warning" ng-click="saveDraft()">保存为草稿</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">返回</button>
        </footer>
    </div>
</div>
<!--
    <div class="panel-group smart-accordion-default" id="Div1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionm" href="#collapseOnem"><i class="fa fa-lg fa-angle-down pull-left"></i><i class="fa fa-lg fa-angle-up pull-left"></i>行项目物料明细 </a></h4>
            </div>
            <div id="Div2" class="panel-collapse collapse in">
                <div class="panel-body no-padding">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>物料代码</th>
                                <th>数量</th>
                                <th>主包装类型</th>
                                <th>主包装数量</th>
                                <th>包装类型2</th>
                                <th>包装2数量</th>
                                <th>包装类型3</th>
                                <th>包装3数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fa-fw fa fa-lock"></i></td>
                                <td>19111</td>
                                <td>40</td>
                                <td>B123131</td>
                                <td>3</td>
                                <td>B123131</td>
                                <td>3</td>
                                <td>B123131</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td><i class="fa-fw fa fa-plus-square "></i></td>
                                <td>19111</td>
                                <td>20</td>
                                <td>B1111</td>
                                <td>1</td>
                                <td>B123131</td>
                                <td>3</td>
                                <td>B123131</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    -->
