<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="100" alt="iTMS">
    </h4>
</div>
<div class="modal-body no-padding">
    <div id="" class="smart-form">
        <fieldset>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-filter"></i>
                        <input type="text" ng-model="criteria.Country[0]" placeholder="国家">
                    </label>
                </section>

                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-filter"></i>
                        <input type="text" ng-model="criteria.State[0]" placeholder="省">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-filter"></i>
                        <input type="text" ng-model="criteria.City[0]" placeholder="市">
                    </label>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-filter"></i>
                        <input type="text" ng-model="criteria.Disc[0]" placeholder="区县">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-prepend fa fa-filter"></i>
                        <input type="text" ng-model="criteria.customer[0]" placeholder="客户代码">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-prepend fa fa-filter"></i>
                        <input type="text" ng-model="criteria.name[0]" placeholder="客户名称">
                    </label>
                </section>
                <section class="col col-12">
                    <button type="button" class="btn btn-sm btn-info" ng-click="search()">
                        <i class="fa fa-search"></i>&nbsp;搜索客户
                    </button>
                </section>
            </div>
            <div class="row" ng-show="afterSearch">
                <button ng-click="test()">verify</button>
                <fieldset tiny-table my-source="items" columns="columns" select-mode="single">
                </fieldset>
                

             
            </div>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-success" ng-click="ok()">插入</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">返回</button>
        </footer>
    </div>
</div>
