<section data-it-Jarvis id="widget-grid" data-ng-controller="EOAssignAdjustCtrl">
<div class="row">
    <div ng-include src='"views/pageTitle.html"'></div>
</div>
<!-- row -->
<div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false"
             data-widget-deletebutton="false">
            <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>

                <h2>我的EO状态</h2>

                <div class="widget-toolbar" role="menu">
                    <a class="btn btn-default">
                        <i class="fa fa-refresh"></i>
                        刷新
                    </a>
                </div>

            </header>
            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                    <!-- Normally there would be an input text box here to change widget title.
                        Use this area only if plan to let users change widget title -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body">
                    <!-- this is what the user will see -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="well padding-10">
                                <h4 class="txt-color-teal">一周EO总量/配送完成量</h4>
                                <br>

                                <div class="sparkline txt-color-darken"
                                     data-sparkline-line-val="[3,2,3,4,3,2,4]"
                                     data-sparkline-bar-val="[5,3,3,1,5,3,2]"
                                     data-sparkline-type="compositeline"
                                     data-sparkline-line-width="1"
                                     data-sparkline-width="100%"
                                     data-sparkline-height="180px"
                                     data-sparkline-fillcolor-top="rgba(87, 136, 156, 0.30)"
                                     data-sparkline-fillcolor-bottom="rgba(0, 141, 214, 0.10)"
                                     data-sparkline-color-top="#fff"
                                     data-sparkline-color-bottom="#fff"
                                     data-sparkline-spotradius-top="4"
                                     data-data-sparkline-bar-val-spots-top="[5,3,3,1,4,3,2]"
                                     data-sparkline-bar-val-spots-bottom="[3,2,3,4,3,2,4]"
                                     data-sparkline-minspot-color-top="#d1dade"
                                     data-sparkline-minspot-color-bottom="#167db2"
                                     data-sparkline-maxspot-color-top="#d1dade"
                                     data-sparkline-maxspot-color-bottom="#167db2"
                                     data-sparkline-highlightspot-color-top="#d1dade"
                                     data-sparkline-highlightspot-color-bottom="#8fcded"
                                     data-sparkline-highlightline-color-top="#bec6ca"
                                     data-sparkline-highlightline-color-bottom="#bec6ca"
                                        >
                                    4,3,3,1,4,3,2
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="well padding-10">
                                <h4 class="txt-color-teal">一周配送准时率走势 </h4>
                                <br>

                                <div class="sparkline"
                                     data-sparkline-type="line"
                                     data-fill-color="#e6f6f5"
                                     data-sparkline-line-color="#0aa699"
                                     data-sparkline-spotradius="5"
                                     data-sparkline-width="100%"
                                     data-sparkline-height="180px">81,90,78,99,68,89,90
                                </div>
                                <h4 class="air air-top-right padding-10 font-xl txt-color-teal">- 39.
                                    <small class="ultra-light txt-color-teal">57% <i class="fa fa-caret-down fa-lg"></i>
                                    </small>
                                </h4>

                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="well padding-10">
                                <h4 class="txt-color-teal">今日任务完成量</h4>
                                <br>

                                <div class="text-center">
                                    <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="78"
                                         data-pie-size="180">
                                        <span class="percent percent-sign txt-color-blue font-xl semi-bold">78</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-->
                <!-- row-->
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </article>

</div>
<!-- end widget -->
<div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-teal" id="wid-id-2r" data-widget-editbutton="false"
             data-widget-deletebutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-2r" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-search-plus"></i> </span>
                <h2>我的EO作业区</h2>
                <div class="widget-toolbar">

                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            <i class="fa fa-filter"></i> 事件类型 <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right js-status-update">
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-check-circle  txt-color-green"></i> 正常</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-exclamation-circle  txt-color-red"></i> 延迟</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-question-circle  txt-color-orange"></i> 意外</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fa fa-square  txt-color-blue"></i> 全部</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-toolbar">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs btn-warning" data-toggle="dropdown">
                            执行动作 <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0)"> <i class="fa  fa-search-plus "></i> 查看订单</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-target="#myaction" data-toggle="modal"> <i
                                        class="fa fa-edit"></i> 事件处理</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </header>

            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar"></div>
                    <div data-im-table header-titles="columns" my-source="orders"></div>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->

    </article>
    <!-- END COL -->
    <!-- NEW COL START -->
</div>
<!-- END ROW -->
<div class="row"></div>
<!-- end row -->
</section>
<!-- end widget grid -->

<!-- Modal -->
<div class="modal fade" id="myaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <img src="img/banner.png" width="100" alt="iTMS">
                </h4>
            </div>
            <div class="modal-body no-padding">

                <form action="" id="login-form" class="smart-form">

                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="select">

                                    <select name="prov">
                                        <option value="0" selected="" disabled="">事件类型</option>
                                        <option value="244">正常</option>
                                        <option value="1">延迟</option>
                                        <option value="2">异常</option>
                                        <option value="3">动作</option>
                                    </select> <i></i></label>
                            </section>
                            <section class="col col-4">
                                <label class="select">

                                    <select name="prov">
                                        <option value="0" selected="" disabled="">事件代码</option>
                                        <option value="E01">天气异常</option>
                                        <option value="E02">货物丢失</option>
                                    </select> <i></i></label>
                            </section>
                            <section class="col col-8">
                                <label class="textarea">
                                    <textarea rows="2" name="info" placeholder="附加信息"></textarea>
                                </label>
                            </section>

                        </div>


                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-success">
                            确认
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            返回
                        </button>

                    </footer>
                </form>


            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">

runAllCharts();

$("#smart-mod-eg1").click(function (e) {
    $.SmartMessageBox({
        title: "提示信息!",
        content: "是否执行  [2014-4-1 13:21 配送开始]  事件?",
        buttons: '[No][Yes]'
    }, function (ButtonPressed) {
        if (ButtonPressed === "Yes") {

            $.smallBox({
                title: "操作回执",
                content: "<i class='fa fa-clock-o'></i> <i>事件执行成功...</i>",
                color: "#659265",
                iconSmall: "fa fa-check fa-2x fadeInRight animated",
                timeout: 4000
            });
        }
        if (ButtonPressed === "No") {
            $.smallBox({
                title: "操作回执",
                content: "<i class='fa fa-clock-o'></i> <i>取消...</i>",
                color: "#C46A69",
                iconSmall: "fa fa-times fa-2x fadeInRight animated",
                timeout: 4000
            });
        }

    });
    e.preventDefault();
});

</script>