<section data-it-Jarvis id="widget-grid">
<div class="row">
    <div ng-include src='"views/pageTitle.html"'></div>
</div>
<!-- row -->
<div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false"
             data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>

                <h2>我的EO状态</h2>

                <div class="widget-toolbar" role="menu">
                    <a class="btn btn-default">
                        <i class="fa fa-refresh"></i>
                        刷新
                    </a>
                </div>

            </header>
            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body">
                    <!-- this is what the user will see -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="well padding-10">
                                <h4 class="txt-color-teal">一周EO总量/配送完成量</h4>
                                <br>

                                <div class="sparkline txt-color-darken"
                                     data-sparkline-line-val="[3,2,3,4,3,2,4]"
                                     data-sparkline-bar-val="[5,3,3,1,5,3,2]"
                                     data-sparkline-type="compositeline"
                                     data-sparkline-line-width="1"
                                     data-sparkline-width="100%"
                                     data-sparkline-height="180px"
                                     data-sparkline-fillcolor-top="rgba(87, 136, 156, 0.30)"
                                     data-sparkline-fillcolor-bottom="rgba(0, 141, 214, 0.10)"
                                     data-sparkline-color-top="#fff"
                                     data-sparkline-color-bottom="#fff"
                                     data-sparkline-spotradius-top="4"
                                     data-data-sparkline-bar-val-spots-top="[5,3,3,1,4,3,2]"
                                     data-sparkline-bar-val-spots-bottom="[3,2,3,4,3,2,4]"
                                     data-sparkline-minspot-color-top="#d1dade"
                                     data-sparkline-minspot-color-bottom="#167db2"
                                     data-sparkline-maxspot-color-top="#d1dade"
                                     data-sparkline-maxspot-color-bottom="#167db2"
                                     data-sparkline-highlightspot-color-top="#d1dade"
                                     data-sparkline-highlightspot-color-bottom="#8fcded"
                                     data-sparkline-highlightline-color-top="#bec6ca"
                                     data-sparkline-highlightline-color-bottom="#bec6ca"
                                        >
                                    4,3,3,1,4,3,2
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="well padding-10">
                                <h4 class="txt-color-teal">一周配送准时率走势 </h4>
                                <br>

                                <div class="sparkline"
                                     data-sparkline-type="line"
                                     data-fill-color="#e6f6f5"
                                     data-sparkline-line-color="#0aa699"
                                     data-sparkline-spotradius="5"
                                     data-sparkline-width="100%"
                                     data-sparkline-height="180px">81,90,78,99,68,89,90
                                </div>
                                <h4 class="air air-top-right padding-10 font-xl txt-color-teal">- 39.
                                    <small class="ultra-light txt-color-teal">57% <i class="fa fa-caret-down fa-lg"></i>
                                    </small>
                                </h4>

                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="well padding-10">
                                <h4 class="txt-color-teal">今日任务完成量</h4>
                                <br>

                                <div class="text-center">
                                    <div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="78"
                                         data-pie-size="180">
                                        <span class="percent percent-sign txt-color-blue font-xl semi-bold">78</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row-->
                <!-- row-->
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </article>

</div>
<!-- end widget -->
<div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-teal" id="wid-id-2r" data-widget-editbutton="false"
             data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-search-plus"></i> </span>
                <h2>我的EO作业区</h2>
                <div class="widget-toolbar">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs btn-default">
                            <i class="fa fa-filter"></i> 事件类型 <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a ng-click="filterEvent('N')"><i class="fa fa-check-circle  txt-color-green"></i> 正常</a>
                            </li>
                            <li>
                                <a ng-click="filterEvent('D')"><i class="fa fa-exclamation-circle  txt-color-red"></i> 延迟</a>
                            </li>
                            <li>
                                <a ng-click="filterEvent('E')"><i class="fa fa-question-circle  txt-color-orange"></i> 意外</a>
                            </li>
                            <li>
                                <a ng-click="filterEvent()"><i class="fa fa-square  txt-color-blue"></i> 全部</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-toolbar">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs btn-warning">
                            执行动作 <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0)"> <i class="fa  fa-search-plus "></i> 查看订单</a>
                            </li>
                            <li>
                                <a ng-click="handleEvent()"> <i class="fa fa-edit"></i> 事件处理</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar"></div>
                    <div data-im-table header-titles="columns" my-source="orders"></div>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </article>
    <!-- END COL -->
    <!-- NEW COL START -->
</div>
<!-- END ROW -->
<div class="row"></div>
<!-- end row -->
</section>
<!-- end widget grid -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
runAllCharts();
</script>