<fieldset class="col col-12">
    <section>
        <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th ng-repeat="column in columns">{{column.title}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>
                        <label class="checkbox">
                            <input type="{{type}}" ng-model="item.checked" name="checkbox-inline">
                            <i></i>
                        </label>
                    </td>
                    <td ng-repeat="column in columns">{{item[column.field]}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="pull-right auto-margin">
        <ul class="pagination-sm pagination">
            <li class="first disabled"><a href="javascript:void(0);"><<</a></li>
            <li class="prev disabled"><a href="javascript:void(0);"><</a></li>
            <li class="page active"><a href="javascript:void(0);">1</a></li>
            <li class="page"><a href="javascript:void(0);">2</a></li>
            <li class="page"><a href="javascript:void(0);">3</a></li>
            <li class="page"><a href="javascript:void(0);">4</a></li>
            <li class="page"><a href="javascript:void(0);">5</a></li>
            <li class="next"><a href="javascript:void(0);">></a></li>
            <li class="last"><a href="javascript:void(0);">>></a></li>
        </ul>
    </section>
</fieldset>
