<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
        &times;
    </button>
    <h4 class="modal-title">
        <img src="img/banner.png" width="100" alt="iTMS">
    </h4>
</div>

<div class="modal-body no-padding">
    <h3 class="row-seperator-header"><i class="fa fa-magic "></i>字段批量更新 </h3>

    <!-- NEW WIDGET START -->
    <div id="route-form" class="smart-form">
        <fieldset>
            <div class="alert alert-warning fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>{{selectedItems.length}}&nbsp;</strong>条记录被选择操作
            </div>
            <div class="row">
                <section class="col col-4">
                    <label class="select">

                        <select ng-model="batchUpdateData.EOTRType">
                            <option value="" selected disabled>运输方式</option>
                            <option ng-repeat="value in transportTypes" value="{{value.code}}">{{value.description}}</option>
                        </select>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="select">
                        <!--  <i class="icon-prepend fa fa-truck"></i>
                            <input type="text" name="Cr" placeholder="承运商代码">-->
                        <select ng-model="batchUpdateData.EOTRVendor1">
                            <option value="" selected disabled>承运商</option>
                            <option ng-repeat="value in carriers" value="{{value.customer}}">{{value.name}}</option>
                        </select>
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm"><i class="fa fa-search "></i></button>
                </section>
            </div>
            <div class="row">
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-truck"></i>
                        <input type="text" name="Cr" ng-model="batchUpdateData.BP1" placeholder="结算方代码">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm"><i class="fa fa-search "></i></button>
                </section>
                <section class="col col-3">
                    <label class="input">
                        <i class="icon-prepend fa fa-truck"></i>
                        <input type="text" name="Cr" ng-model="batchUpdateData.BP2" placeholder="货主方代码">
                    </label>
                </section>
                <section class="col col-1">
                    <button class="btn btn-default btn-sm"><i class="fa fa-search "></i></button>
                </section>
            </div>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-qrcode "></i>
                        <input type="text" name="code" ng-model="batchUpdateData.VendorOrder1" placeholder="供应商订单">
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" ng-model="batchUpdateData.DepDate1" data-im-datepicker placeholder="预计出发日期">
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" ng-model="batchUpdateData.ArrDate1" data-im-datepicker placeholder="预计到达日期">
                    </label>
                </section>
            </div>
        </fieldset>
        <footer>
            <button id="smart-mod-eopatch" type="button" ng-click="doBatchUpdate()" class="btn btn-success" data-dismiss="modal">保存 </button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">返回 </button>
        </footer>
    </div>
</div>
