<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iTMS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- compiled CSS -->
  <% styles.forEach( function ( file ) { %><link rel="stylesheet" href="<%= file %>"/>
  <% }); %>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

<div ng-app="itms">
  <div data-ng-include="'/app/layout/shell.html'"></div>
</div>

<!-- compiled Vendor JavaScript -->
<% scripts.forEach( function ( file ) { %><script src="<%= file %>"></script>
<% }); %>
<!--compiled Vendor JavaScript end-->

<!-- compiled app JavaScript -->
<% appjs.forEach( function ( file ) { %><script src="<%= file %>"></script>
<% }); %>
<!-- compiled app JavaScript end-->

</body>
</html>
