<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iTMS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- compiled CSS -->
  <% styles.forEach( function ( file ) { %><link rel="stylesheet" href="<%= file %>"/>
  <% }); %>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

<div ng-app="itms">
  <div data-ng-include="'/app/layout/shell.html'"></div>
</div>

<!-- compiled Vendor JavaScript -->
<% scripts.forEach( function ( file ) { %><script src="<%= file %>"></script>
<% }); %>
<!--compiled Vendor JavaScript end-->

<!-- compiled app JavaScript -->
<script src="common/common.module.js"></script>
<script src="common/datepicker/datepicker.js"></script>
<script src="common/table/table.js"></script>
<script src="common/widget/widget.js"></script>
<script src="common/breadcrumb/breadcrumb.js"></script>
<script src="app/common/common.svc.js"></script>
<script src="app/app.js"></script>
<script src="app/config.js"></script>

<script src="app/layout/shell.js"></script>
<script src="app/transport/transport.module.js"></script>
<script src="app/transport/network/network.module.js"></script>
<script src="app/transport/event/event.module.js"></script>
<script src="app/transport/event/event.ctrl.js"></script>
<script src="app/transport/event/eoService.js"></script>

<script src="app/planning/common.ctrl.js"></script>
<script src="app/planning/planning.module.js"></script>
<script src="app/planning/adjustment/adjustment.module.js"></script>
<script src="app/planning/adjustment/adjustment.ctrl.js"></script>
<script src="app/planning/adjustment/orderService.js"></script>

<script src="app/planning/assignment/assignment.module.js"></script>
<script src="app/planning/assignment/assignment.ctrl.js"></script>
<script src="app/planning/customerService.js"></script>


<script src="app/requirement/requirement.module.js"></script>
<script src="app/requirement/upload/upload.module.js"></script>
<script src="app/requirement/upload/RequirementUploadCtrl.js"></script>
<script src="app/requirement/create/create.module.js"></script>

<script src="app/dashboard/dashboard.module.js"></script>
<script src="app/dashboard/dashboard.ctrl.js"></script>


<!-- compiled app JavaScript end-->

</body>
</html>
